.main-page{
    position: relative;
    padding-top: 80px;
}
.title{
    color: #18191F;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
}
.subtitle{
    color: #474A57;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.main__text{
    padding: 50px 10%;
    position: absolute;
    visibility: hidden;
}
.main__text.visible{
    position: inherit;
    visibility: inherit;
}
.main-page__btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.mainPage a{
    color: #ffff;
}

@media (max-width:640px){
    .mainPage{
        padding-top: 50px;
    }
    .mainPage .title{
        margin-bottom: 20px;
    }
    .title{
        font-size: 20px;
        margin-bottom: 0;
        line-height: normal;
    }
    .subtitle{
        line-height: normal;
        font-size: 14px;
        line-height: normal;
    }
    .main__text{
        padding: 30px 6% ;
    }
    .mainPage-btn{
        bottom: 10px;
        left: 10px;
    }
    .myDivIcon{
        font-size: 16px;
    }
    .myDivIcon__blue{
        font-size: 12px;
    }
    .myDivIcon__white{
        font-size: 8px;
    }
}

@media(max-width:440px){
    .main__text{
        padding: 20px 3%;
    }
}