@font-face {
    font-family: "SegoeBold";
    src: local("SegoeBold"),
     url("../../fonts/SegoeBold.ttf") format("truetype");
    font-weight: bold;
}
.mainPage{
    position: relative;
}
.title{
    line-height: 48px;
    color: #18191F;
    margin-bottom: 10px;
    font-family: "SegoeBold"
}
.subtitle{
    font-size: 18px;
    line-height: 32px;
    color: #474A57;
}
.main__text{
    padding: 50px 10%;
}
.mainPage-btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.mainPage a{
    color: #ffff;
}