.user-create-page{
    padding: 110px 10% 30px;
    background-color:#eeeeee;
    min-height: calc(100vh - 70px);
}
.user-create-page .page__subtitle{
    margin-left: 10px;
}
.user__new-password{
    background-color: #c5fddf;
    color: #20782e;
    padding: 10px 25px;
    border-radius: 4px;
}