.modal{ 
    background: #ffff;
    border-radius: 8px;
    padding: 20px;
    width: 480px;
    overflow: auto;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    max-height: 90%;
}

.modal::-webkit-scrollbar{
    width: 6px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #EEEEEE;
    border-radius: 8px;
}
.modal.active{
    display: block;
}

.modal__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__top p{
    font-size: 14px;
    line-height: 20px;  
    color: #969BAB;
}
.modal__title{
    font-family: "Segoe UI";
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}
.text__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
    font-family: "Segoe UI"
}

.text__description{
    font-size: 16px;
    line-height: 26px;
    color:  #474A57;
    margin-bottom: 15px;
    font-family: "Segoe UI"
}
.line{
    height: 1px;
    background-color: #EEEFF4;
    margin: 15px 0;
}

.modal__buttons{
    display: flex;
    justify-content: end;
}
.modal__buttons .btn{
    margin-left:10px ;
}

.modal__close{
    width: 20px;
    height: 2px;
    background-color: #D9DBE1;
    position: relative;
    transform: rotate(-45deg) translate(0px, -50%);
    cursor: pointer;
}

.modal__close::after{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #D9DBE1;
    position: absolute;
    transform: rotate(90deg) translate(0px, -50%);
}
.modal-svg{
    margin-left: 10px;
}
.modal .btn a{
    color:#ffff
}

