.navbar{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E2E5E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.navbar__title{
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #18191F
}
.navbar__right{
    display: flex;
    align-items: center;
}
.navbar__lang{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    border-radius: 18px;
    cursor: pointer;
    background:none;
    border: none;
}
.navbar__lang:hover{
    box-shadow:  1px 1px 11px 0px rgba(87, 86, 86, 0.75);
}
.navbar__lang.active{
    background-color: #FC997C;
    color: #ffff;
}
.navbar__lang.active:hover{ 
    box-shadow:  1px 1px 11px 0px rgba(255, 163, 102, 0.75);
}
.navbar__menu-div{
    margin-right: 32px;
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.navbar__menu{
    width: 20px;
    height: 3px;
    border-radius: 4px;
    background-color: #5584AC;
    cursor: pointer;
    position: relative;
}
.navbar__menu:before{
    content: "";
    width: 18px;
    height: 3px;
    border-radius: 4px;
    background-color: #5584AC;
    position: absolute;
    top: 20px;
}
.navbar__menu:after{
    content: "";
    width: 26px;
    height: 3px;
    border-radius: 4px;
    background-color: #5584AC;
    position: absolute;
    top: 10px;
}
.btn-icon{
    margin-right: 10px;
}
.navbar .btn a{
    color:#22577E;
}
.navbar .btn{
    margin-left: 35px;
}
.navbar__none{
    z-index: 0;
}