.login-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.login-form__content{
    padding: 20px 30px;
    background-color: #ffff;
    border-radius: 14px;
    border: 2px solid #22577E;
    display: grid;
    grid-gap: 10px;
    height: fit-content;
    position: relative;
    top: 25%;
}
.login-form__title{
    text-align: center;
}
.input{
    outline: none;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 4px;
}