.item__page{
    padding: 50px 10%;
}
.page-transition{
    display: flex;
    list-style: none;
    align-items: center;
}
.page-transition a{
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #18191F;
}
.vertical-line{
    width: 1px;
    height: 20px;
    background-color: #969BAB;
    margin: 0 8px;
    transform: rotate(15deg);
}

.page-transition a.active{
    color: #969BAB;
}

.item__page-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #969BAB;
    margin-top: 30px;
}

.item__page .btn{
    float: right;
}
.text-size{
    font-size: 16px !important;
}