@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('./fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('./fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('./fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('./fonts/SegoeUI.woff') format('woff'),
		url('./fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('./fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/SegoeUI-Bold.woff') format('woff'),
		url('./fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-BoldItalic.eot');
	src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
		url('./fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/SegoeUI-BoldItalic.woff') format('woff'),
		url('./fonts/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-Italic.eot');
	src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
		url('./fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/SegoeUI-Italic.woff') format('woff'),
		url('./fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}
a{
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
.leaflet-bottom{
  display: none;
}
::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606061;
}

.label{
    color: #999898;
    font-size: 12px;
	line-height: 20px;
}
.input{
    outline: none;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    background: #f3f4f6;
    margin-bottom: 20px;
	width: 100%;
}
.line{
    height: 1px;
    background-color: #EEEFF4;
    margin: 15px 0;
}
.page__subtitle{
    font-size: 20px;
    font-weight: 600;
}
.page__item{
    display: flex;
    align-items: center;
	margin-bottom: 20px;
}
.page__form{
	background-color: #ffff;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page__buttons{
    display: flex;
    align-self: flex-end;
    grid-gap: 10px;
}
.page__content{
    background-color: #ffff;
    border-radius: 4px;
    padding: 20px 10px;
}
.page__content__item{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 15%;
    align-items: center;
}
.user-item-page{
  grid-template-columns: 5% 1fr 1fr 10%;
}
.content__item__text{
    font-size: 16px;
    font-weight: 600;
}
.icon{
    background-color: #eaf5fb;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
}
.basket-icon{
    background-color: #fdeeee;
}
.eye-icon{
	background-color: #daf7f6;
}

.icon:hover{
  box-shadow:  1px 1px 11px 0px #a4cadf;
}
.basket-icon:hover{
  box-shadow:  1px 1px 11px 0px #e9b6b6;
}
.eye-icon:hover{
  box-shadow:  1px 1px 11px 0px #b0e6e4;
}

.error-label{
  color: red;
  margin-bottom: 10px;
 
}
.input-error{
  background-color: rgb(240, 164, 164, .4);
  margin-bottom: 0;
}



.deletion__modal{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.deletion__modal__content{
  grid-gap: 15px;
  background-color: #ffff; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 4px;
  padding: 20px;
}

.deletion__modal__content .btn-blue{
  background-color: #eb5757;
}
.deletion__modal__content .btn-blue:hover{
  box-shadow:  1px 1px 11px 0px rgb(235, 87, 87, 0.75);
}
.deletion__modal__content p{
  font-size: 16px;
  font-weight: 600;
}
.text-actions{
  margin-left:5px;
}

.preLoader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.preLoader__content{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  border: 2px dashed black;
  animation: rotate 1s infinite linear;
  z-index: 100;
}