.slider{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
img{
    width: 100%;
    border-radius: 8px;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity:1;
    transition-duration: 1s;
    transform: scale((1.08));
}
.slider__nav{
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    position: absolute;
    bottom: 11px;
    right: 11px;
    align-items: center;
    padding: 7px 21px;
}
.slider__nav-text{
    color: #18191F;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0 13px;
}
.icon{
    cursor: pointer;
}