.slider{
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.slider-img{
    width: 100%;
    border-radius: 8px;
    height: 80vh;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity:1;
    transition-duration: 1s;
    transform: scale((1.08));
}
.slider__nav{
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    position: absolute;
    bottom: 11px;
    right: 11px;
    align-items: center;
    padding: 7px 21px;
    z-index: 2;
}
.slider__nav-text{
    color: #18191F;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0 13px;
}
.icon{
    cursor: pointer;
}

.player-video{
    width: 100%;
    height: 80vh;
}
.slider-img__fullScreen{
   width: 100%;
   height: 100%;
}
@media(max-width: 1024px){
    .slider-img{
        height: 60vh;
    }
    .player-video{
        width: 100%;
        height: 60vh;
    }
    .modal-slide__active{
        height: 60vh;
    }
}

@media (max-width:800px){
    .slider img, .player-video{
        height: 50vh;
    }
    
}
